@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden {
    display: none;
}

html,
:host {
    background-color: white !important;
}

/* Sidebar Styling */
#sidebar {
    position: relative;
    min-height: 100vh;
    /* Ensures the sidebar spans the entire viewport height */
    background-color: #f3f4f6;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

#sidebar ul {
    padding: 0;
    list-style-type: none;
}

#sidebar ul li {
    margin: 10px 0;
}

#sidebar ul li a {
    display: block;
    padding: 10px;
    border-radius: 5px;
    color: #4a5568;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
}

#sidebar ul li a:hover,
#sidebar ul li a.active {
    background-color: #68d391;
    color: #ffffff;
}

/* Sidebar Toggle Button */
#showSidebarButton,
#toggleSidebarButton {
    display: none;
}

@media (max-width: 1024px) {

    /* Mobile Sidebar */
    #sidebar {
        position: fixed;
        transform: translateX(-100%);
        z-index: 50;
    }

    #sidebar.active {
        transform: translateX(0);
    }

    #showSidebarButton {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 60;
    }

    #toggleSidebarButton {
        display: block;
    }
}